* {
    box-sizing: border-box;
}

body {
    color: #BD9A7A;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #BD9A7A;;
    text-align: center;
    margin-top: 40px;
}

h2 {
    color: #BD9A7A;;
    text-align: center;
    margin-top: -50px;
}

#letter {
    background-color: #BD9A7A;;
    border: dotted;
    border-color: pink;
    align-items: flex-end;
}

.row1 {
    justify-content: space-evenly;
    align-items: flex-end;
}

.row2 {
    justify-content: space-evenly;
    align-items: flex-end;
}

#playagain {
    align-items: flex-end;
}