* {
    box-sizing: border-box;
}

body {
    color: #BD9A7A;
    height: 98vh;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #BD9A7A;;
    margin-top: 0px;
}

h2 {
    color: #BD9A7A;;
}

button {
    background-color: #FFEBCD;
    border-radius: 30%;
    margin: 2px;
    padding: 20px;
}

#guess { 
    font-size: 3vmin;
    letter-spacing: .5vmin;
    color: #BD9A7A;
}

#letter {
    background-color: #BD9A7A;;
    border: dotted;
    border-color: pink;
}

#playagain {
    margin-top: 10px;
    margin-bottom: -20px;
    padding: 25px;
}

#playagain:hover {
    background-color: #FFEBCD;
    color: red;
}
